.navbar-text {
    font-weight: bold;
}

.wrapper, table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.colHeading {
    font-weight: bold;
}

h4 {
    margin-top: 100px;
}